.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    
}
.hero-container{
    padding: 4rem 6rem;
    gap: 7rem;
    justify-content: space-between;
}

.hero-left{
    gap:3rem;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    z-index: 20;
    position: relative;
}

.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 100%;
    position: absolute;
    right: 65%;
    top: 10%;
    z-index: 1;
}
.hero-des{
    padding: 40px 0px;
}
.search-bar {
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 2rem;
  }
  
  .search-bar > input {
    width: 72%;
    border: none;
    outline: none;
    margin-right: 1rem; /* Add margin to create space between input and button */
  }
  
  .search-bar > .button {
    background-color: var(--blue); /* Set background color */
    color: white; /* Set text color */
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .stats{
    gap: 2rem;
    font-size: 1.8rem;
}

  .plus{
    color: yellow;
  }


/* Right */

.image-container img{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0rem 0rem;
    border: 8px solid rgba(255,255,255, 0.12);
}

@media (max-width:640px){
  .hero-container{
    margin-top: 2rem;
  }

  .hero-title{
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .image-container>img{
    width: 90%;
    height: 90%;
  }
  .stats{
    justify-content: center;
    gap: 1.5rem;
  }
}